
/* centered columns styles */
.row-centered {
    text-align:center;
    padding: 10%;

}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */

    /* inline-block space fix */

    text-align: center;
    background-color: rgba(0, 255, 209, 0.77);
    opacity:0.9;
    padding: 10%;
}
.containerBG {
  display: block; // if it is not a block element
  position: relative;
  overflow: hidden;
}
.container {
  padding: 8%;
}

.profilePic {
  width: 40%;
  margin: 5%;
}
.custom-control.custom-checkbox {
  height: 30px;
}
