doctype html
html(language=en)
  head

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
      
      
  body  
    div.container
      div.row.row-centered
        div.col-lg-6.col-centered
          img.profilePic(src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" alt="profileMan")
          img.profilePic(src="https://www.shareicon.net/data/128x128/2016/09/01/822727_user_512x512.png" alt="profileMan")    
          form.form-group(action='/auth/login', method='post')
            p
              input(type='email', class="form-control", id="inputEmail",name='username', placeholder='username')
            p
              input(type='password',class="form-control", id="inputPassword", name='password', placeholder='password')
            p
              button(type='submit', class="btn btn-primary btn-lg") Login  
            //p
            //  input(type='submit', class="btn btn-primary" placeholder="login") 
        
  style
    include ../../css/style.css
