extends ../layout
block content
    div.container
      div.row.row-centered
        div.col-lg-6.col-centered
          img.profilePic(src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" alt="profileMan")
          img.profilePic(src="https://www.shareicon.net/data/128x128/2016/09/01/822727_user_512x512.png" alt="profileMan")    

          form(action='/auth/register', method='post')
            p
              input(type='text', name='username', placeholder='username')
            p
              input(type='password', name='password', placeholder='password')
            p
              input(type='text', name='displayName', placeholder='displayName')
            p
              input(type='submit')

          
    style
      include ../../css/style.css
