extends ./homepage
block navigate 
  
  div.john
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu viverra mauris. Aliquam erat volutpat. Ut venenatis diam nec sapien commodo porta eget sit amet ligula. Praesent scelerisque, magna varius pharetra ornare, nibh libero efficitur urna, non molestie enim eros ac magna. Vivamus efficitur hendrerit dolor, porta accumsan risus feugiat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi tincidunt lectus sed gravida convallis. Morbi faucibus vehicula est sit amet rutrum. Fusce elementum leo sed lorem molestie commodo.      
    p= text
