doctype=html
html(language=en)
  head
    style
      include ../css/stylesheet.css
    
    //-this is the stuff you want-\\
    //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
    //- script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
    //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    //- link(rel='stylesheet', href='/stylesheets/style.css')  
    
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
      
  body
    nav(class="navbar navbar-inverse fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand") SPACEBOY

        ul(class="nav navbar-nav")
          li(class="active")
            a(href="#") Home
          li(class="dropdown")
            a(class="dropdown-toggle" data-toggle="dropdown" href="#") Page 1 
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="#") Page 1-1 
              li
                 a(href="#") Page 1-2
              li
                 a(href="#") Page 1-3
                          
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="#")
              span(class="glyphicon glyphicon-user") SignUp
          li
            a(href="#")
              span(class="glyphicon glyphicon-log-in") Login


    .container
      img(src="https://lh3.googleusercontent.com/WEVQHf-YayVG8umPY0XSEDRoVO7WknBO_5Vm_VgsviW52MQavqYf-dGHEvq_sER4MMz_zBr3jW4NsgKqpUTNPCQgi8a8Y1vy-s2g5yL7m9FoyN6UENeudFYxQ7OJJ_He7uItUIofsg=w2400")
      h1 Login        
      form(action='/auth/login', method='post')
        p
          input(type='text', name='username', placeholder='username')
        p
          input(type='password', name='password', placeholder='password')
        p
          input(type='submit')
      .contaniner
        form(class="navbar-form navbar-left" role="search")
          div(class="form-group")
